In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

In [10]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index= [0, 5, 10])

In [11]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger = range(15)

In [14]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [15]:
ser3.reindex(ranger, method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [16]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [17]:
dframe

       col1      col2      col3      col4      col5
A  0.736256  2.320590  0.806679  0.698558  0.954138
B -0.138235  1.105425  0.356677  1.526189  1.707828
D  0.427302  0.841620  2.529594  0.670492  0.654351
E -0.732530 -0.096316  1.143118 -0.928413 -0.037718
F -0.313788  0.977714  0.325996 -0.031766  1.202609

In [18]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.736256  2.320590  0.806679  0.698558  0.954138
B -0.138235  1.105425  0.356677  1.526189  1.707828
C       NaN       NaN       NaN       NaN       NaN
D  0.427302  0.841620  2.529594  0.670492  0.654351
E -0.732530 -0.096316  1.143118 -0.928413 -0.037718
F -0.313788  0.977714  0.325996 -0.031766  1.202609

In [ ]:
new_columns = ['col1',col]