In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
arr = np.array([[1,2,np.nan],[np.nan,3,4]])

In [7]:
dframe1 = DataFrame(arr, index=['A','B'],columns=['One','Two','Three'])
dframe1

   One  Two  Three
A    1    2    NaN
B  NaN    3      4

In [8]:
dframe1.sum()

One      1
Two      5
Three    4
dtype: float64

In [9]:
dframe1.sum(axis=1)

A    3
B    7
dtype: float64

In [10]:
dframe1

   One  Two  Three
A    1    2    NaN
B  NaN    3      4

In [11]:
dframe1.idxmin()

One      A
Two      A
Three    B
dtype: object

In [12]:
dframe1

   One  Two  Three
A    1    2    NaN
B  NaN    3      4

In [13]:
dframe1.cumsum()

   One  Two  Three
A    1    2    NaN
B  NaN    5      4

In [14]:
dframe1.describe()

       One       Two  Three
count    1  2.000000      1
mean     1  2.500000      4
std    NaN  0.707107    NaN
min      1  2.000000      4
25%      1  2.250000      4
50%      1  2.500000      4
75%      1  2.750000      4
max      1  3.000000      4

In [15]:
from IPython.display import YouTubeVideo